main {
  .s-hero {
    width: 100%;
    height: 100vh;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      .box-left-hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        .img-pontos {
          position: absolute;
          top: 15rem;
          left: 2rem;
        }
        .img-x {
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 4rem;
          transition: all 0.3s ease-in-out;
          &:last-of-type {
            background-color: $brand-blue;
            padding: 0rem 1.5rem;
            border-radius: 2rem;
            font-size: 5.8rem;
            margin-bottom: 2rem;
          }
          &.light {
            color: $brand-black;
          }
        }
        h1 {
          font-size: 6.2rem;
          transition: all 0.3s ease-in-out;
          &.light {
            color: $brand-black;
          }
        }
        p {
          width: 100%;
          max-width: 53rem;
          font-size: 2.2rem;
          font-weight: 400;
          text-align: justify;
          line-height: 3rem;
          color: $brand-blue-light;
        }
        .box-btn {
          width: 85%;
          height: 2rem;
          display: flex;
          align-items: flex-start;
          &:hover a {
            color: $brand-blue;
          }
          .btn-prymary {
            margin-top: 3rem;

            a {
              font-size: 2rem;
              transition: color 0.3s ease-in-out;
            }
          }
        }
      }
      .box-right-hero {
        position: relative;
        width: 50%;
        display: flex;
        gap: -5rem;
        .img-hero {
          width: 46rem;
          position: absolute;
          top: 0rem;
          bottom: 0rem;
          left: 0rem;
          right: 8rem;
          margin: auto;
          animation: floating 10s ease-in-out infinite;
        }
        .img-x2 {
          position: absolute;
          top: 15rem;
          bottom: 0rem;
          right: 4.2rem;
          transform: rotate(90deg);
        }
        .social-hero {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          top: 0rem;
          bottom: 0rem;
          right: 1rem;
          a {
            transition: transform 0.3s ease-in-out;
            &:hover {
              transform: translateX(0.5rem);
            }
          }
        }
        .img-pontos2 {
          position: absolute;
          bottom: -35rem;
          right: 3rem;
          transform: rotate(90deg);
        }
      }
    }

    @include responsive(1200px) {
    
      .container {
      
        .box-left-hero {
        
          margin-top: 3rem;
          .img-pontos {
            width: 7%;
            top: 7rem;
            left: 1rem;
          }
          .img-x {
            width: 30%;
            margin-bottom: 1rem;
          }
          h2 {
            font-size: 2.5rem;
            &:last-of-type {
              font-size: 3.5rem;
            }
          }
          h1 {
            font-size: 4.2rem;
          }
          p {
            width: 80%;
            font-size: 1.5rem;
          }
          .box-btn {
            width: 80%;
            .btn-prymary {
              margin-top: 2rem;
              padding: 0.5rem 0.9rem;
              a {
                font-size: 1.5rem;
              }
            }
          }
        }
        .box-right-hero {
          .img-hero {
            width: 80%;
            top: 6.4rem;
            bottom: 0rem;
            left: 0rem;
            right: 8rem;
          }
          .img-x2 {
            width: 30%;
            top: 10rem;
            bottom: 0rem;
            right: 1rem;
          }
          .social-hero {
            gap: 1.5rem;
            top: 3rem;
            bottom: 0rem;
            right: 0rem;
            a {
                img {
                  width: 2.5rem;
                }
            }
          }
          .img-pontos2 {
            width: 7%;
            bottom: -25rem;
            right: 3rem;
          }
        }
      }

    }

    @include responsive(820px) {
    
      .container {
        display: flex;
        flex-direction: column;

        .box-left-hero {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          margin-top: -42rem;
          .img-pontos {
            width: 7%;
            position: absolute;
            top: 35rem;
            left: 0rem;
          }
          .img-x {
            width: 20%;
            margin-bottom: 1rem;
          }
          h2 {
            font-size: 4.3rem;
            &:last-of-type {
              font-size: 5.8rem;
              margin-bottom: 2rem;
            }
            &.light {
              color: $brand-black;
            }
          }
          h1 {
            font-size: 6.2rem;
          }
          p {
            max-width: 70%;
            font-size: 2.2rem;
            text-align: center;
            line-height: 2rem;
          }
          .box-btn {
            width: 75%;
            height: 2rem;
            justify-content: center;
            .btn-prymary {
              margin-top: 2.5rem;
              padding: 0.3rem 1rem;
              border-radius: 1rem;
              a {
                font-size: 2.7rem;
              }
            }
          }
        }
        .box-right-hero {
          width: 100%;
          .img-hero {
            width: 50%;
            top: -17rem;
            left: 0rem;
            right: 0rem;
          }
          .img-x2 {
            width: 20%;
            top: 5rem;
            left: 0rem;
          }
          .social-hero {
            flex-direction: row;
            gap: 1rem;
            top: 15rem;
            right: 0rem;
            left: 0;
            a {
          img {
            width: 4rem;
          }
             
            }
          }
          .img-pontos2 {
            width: 7%;
            bottom: -15rem;
            right: 5rem;

          }
        }
      }

    }

    @include responsive(414px) {
    
      .container {
        display: flex;
        flex-direction: column;

        .box-left-hero {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          margin-top: -38rem;
          .img-pontos {
            width: 7%;
            position: absolute;
            top: 30rem;
            left: 0rem;
          }
          .img-x {
            width: 30%;
            margin-bottom: 1rem;
          }
          h2 {
            font-size: 2.5rem;
            &:last-of-type {
              font-size: 3rem;
              margin-bottom: 2rem;
            }
            &.light {
              color: $brand-black;
            }
          }
          h1 {
            font-size: 3.7rem;
          }
          p {
            max-width: 80%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2rem;
          }
          .box-btn {
            width: 75%;
            height: 2rem;
            justify-content: center;
            .btn-prymary {
              margin-top: 2rem;
              padding: 0.1rem 0.7rem;
              border-radius: 1rem;
              a {
                font-size: 1.7rem;
              }
            }
          }
        }
        .box-right-hero {
          width: 100%;
          .img-hero {
            width: 80%;
            top: -17rem;
            left: 0rem;
            right: 0rem;
          }
          .img-x2 {
            width: 30%;
            top: -5rem;
            left: -4rem;
          }
          .social-hero {
            flex-direction: row;
            gap: 1rem;
            top: 10rem;
            right: 0rem;
            left: 0;
            a {
              img {
                width: 3rem;
              }
             
            }
          }
          .img-pontos2 {
            width: 7%;
            bottom: -10rem;
            right: 1rem;

          }
        }
      }

    }
    
    @include responsive(375px) {
    
      .container {
        display: flex;
        flex-direction: column;

        .box-left-hero {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          margin-top: -25rem;
          .img-pontos {
            width: 10%;
            position: absolute;
            top: 20rem;
            left: 0rem;
          }
          .img-x {
            width: 30%;
            margin-bottom: 1rem;
          }
          h2 {
            font-size: 2rem;
            &:last-of-type {
              font-size: 2.5rem;
              margin-bottom: 2rem;
            }
            &.light {
              color: $brand-black;
            }
          }
          h1 {
            font-size: 3.2rem;
          }
          p {
            max-width: 75%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2rem;
          }
          .box-btn {
            width: 75%;
            height: 2rem;
            justify-content: center;
            .btn-prymary {
              margin-top: 2rem;
              padding: 0.1rem 0.7rem;
              border-radius: 1rem;
              a {
                font-size: 1.2rem;
              }
            }
          }
        }
        .box-right-hero {
          width: 100%;
          .img-hero {
            width: 65%;
            top: -10rem;
            left: 0rem;
            right: 0rem;
          }
          .img-x2 {
            width: 30%;
            top: -5rem;
            right: 25rem;
          }
          .social-hero {
            flex-direction: row;
            gap: 1rem;
            top: 7rem;
            right: 0rem;
            left: 0;
            a {
              img {
                width: 2.5rem;
              }
             
            }
          }
          .img-pontos2 {
            width: 10%;
            bottom: -5rem;
            right: 1rem;

          }
        }
      }

    }
    
  }

  
}
