* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

html,
body {
  color: white;
  background: linear-gradient(118.12deg, #041c26 14.8%, #000000 85.17%);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  &.light {
    background: linear-gradient(117.04deg, #ffffff 14.79%, #eeeeee 104.8%);
  }
}

button {
  background-color: transparent;
  cursor: pointer;
}
