h1 {
  font-weight: 700;
  font-size: 6.4rem;
}

h2 {
  font-weight: bold;
  font-size: 4.8rem;
}
h3 {
  font-size: 3.6rem;
  font-weight: 500;
}

h1,
h2 {
  line-height: 112%;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins" sans-serif;
  color: $brand-white;
}
