//Colors
$brand-blue: #1692c5;
$brand-blue-light: #91d8f7;
$brand-white: #ffffff;
$brand-black: #000000;

//Gradients
$brand-gradient: linear-gradient(118.12deg, #041c26 14.8%, #000000 85.17%);
$brand-gradient-light: linear-gradient(
  117.04deg,
  #ffffff 14.79%,
  #eeeeee 104.8%
);

$brand-gradient-blue: linear-gradient(
  140deg,
  rgba(145, 216, 247, 1) 0%,
  rgba(22, 146, 197, 1) 48%,
  rgba(5, 107, 149, 1) 100%
);

//gray
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
